  
  body {
    width: 95%;
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  section.projecten {
    flex-basis: 100px;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  div.project {
    flex-basis: 100px;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  p.logo {
    flex-basis: 100px;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  p.logo img {
    flex-basis: 100px;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  p.language {
    flex-basis: 100px;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  p.title {
    flex-basis: 100px;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  p.description{
    flex-basis: 100px;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }